{% import "_forms.html" as forms %}
{% extends "base.html" %}

<article>
{% block page_header %}
    <header class="page-header">
        <h1>{{ post.title }}</h1>
    </header>
{% endblock %}

{% block content %}
    {% if post.description %}
        {{ post.description }}
    {% endif %}
    <hr>
    <section class="comments">
        <header>
            <h2>Comments</h2>
        </header>
        {% if post.comments %}
            {% for comment in post.comments %}
                <article class="row">
                    <div class="span4"><strong>{{ comment.author }}</strong>
                        <small>on {{ comment.modified_at.strftime('%H:%M %Y-%m-%d') }}</small>:</div><div class="span9">{{ comment.description }}</div>
                    </p>
                </article>
            {% endfor %}
        {% endif %}
        <hr>
        <footer>
            <h3>Add a comment</h3>
            <form action="." method="post">
                {{ forms.render(form) }}
                <div class="actions">
                    <input type="submit" class="btn primary" value="comment">
                </div>
            </form>
        </footer>
    </section>
{% endblock %}
</article>