{% extends "base.html" %}

{% block content %}
    {% for post in posts %}
        <article class="entry {{ post.type }}">
        <h2><a href="{{ url_for('posts.detail', slug=post.slug) }}">{{ post.title }}</a></h2>
        {% if post.description %}
            <p>{{ post.description|truncate(100) }}</p>
        {% endif %}
        <p>
            {{ post.modified_at.strftime('%H:%M %Y-%m-%d') }} |
            {% with total=post.comments|length %}
                {{ total }} comment {%- if total > 1 %}s{%- endif -%}
            {% endwith %}
            {%  if post.categories|length > 0 %} |
                {% for category in post.categories %}
                    <a href="{{ url_for('posts.detail', slug=category.slug) }}">{{ category.title }}</a>,
                {% endfor %}
            {% endif %}

        </p>
        </article>
    {% endfor %}
{% endblock %}
